.box {
	padding: 10px;
	border: 2px solid black;
	margin: 5px;
}

.clearfix {
	overflow: auto;
}

aside.box{
	width: 20%;
	float: left;
	/*We don't need this margin anymore because we use empty div with .clear*/
	/*margin-bottom: 10px;*/
}

section {
	float: right;
	width: 74%;
}

footer {
	clear: both;
}

div.div1 {
	background-color: blue;
}
div.div2 {
	/*width: 20%;
    opacity: 0.7;
    position: absolute;
    top: 10px;*/
	background-color: red;
}
/*div div{
		background-color: red; 
	}*/
ul {
	list-style: none;
}
li.blender{
	background-image: url('leaf_icon.jpg');
	background-repeat: no-repeat;
	height: 54px;
	padding-left: 44px;
	padding-top: 3px;
}

/*li{
	list-style-image: url('leaf_icon.jpg');
}*/