 <link rel="stylesheet" type="text/css" href="shadow_dom.css">
 <div id="slider">
  <input checked="" type="radio" name="slider" id="slide1" selected="false">
  <input type="radio" name="slider" id="slide2" selected="false">
  <input type="radio" name="slider" id="slide3" selected="false">
  <input type="radio" name="slider" id="slide4" selected="false">
  <div id="slides">
    <div id="overflow">
      <div class="inner">
        <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/5689/rock.jpg">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/5689/grooves.jpg">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/5689/arch.jpg">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/5689/sunset.jpg"> -->
        <content select="img"></content>
      </div> <!-- .inner -->
    </div> <!-- #overflow -->
  </div>
  <label for="slide1"></label>
  <label for="slide2"></label>
  <label for="slide3"></label>
  <label for="slide4"></label>
</div>
